{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Wacky Widgets</title>
</head>

<body >
    <h1 style="text-align: center;">Wacky Widgets</h1>
    
    
    <table >
        <tr>
        <div style: style="text-align: center;">
          <td >Description <input type="text"></td>
          <td>Quantity <input type="text"></td>

          {% if widget_list|length == 100 %}
            <th>Description: {{widget_list.description}}</th>
            <th>Quantity: {{widget_list.quantity}}</th>

          {% else %}
            <h3 style="text-align: center;"> No Widget Exits</h3>
 
          {% endif %}
        </tr>
 
      </table>
  </table>
  <h4 ><input class="btn " type="submit" value="Add Widget"></h4>
</body>
</html>